# PostgreSQL connection (match your docker-compose service)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=xxxx #add your desired value
POSTGRES_PASSWORD=xxxxx #add your desired value
POSTGRES_DB=xxxxx #add your desired value
